<div class="col-xs-4">
  <form class="">
    <div class="form-group">
      <label for="User Name">User Name</label>
      <input type="text" class="form-control" userName/>
    </div>
    <div class="form-group">
        <label for="User Name">Password</label>
        <input class="form-control" type="text"  password/>
      </div>
      <div class="form-group">
          <button class="btn btn-primary" type="button" (click)="onLoginClicked()">Login</button>
          <button class="btn btn-primary" type="button" (click)="onRegisterClicked()">Register</button>
        </div>
  </form>
</div>
